<section id="main">
  <div class="container">
    <article class="box post">
      <header>
        <h2>Privacy Policy</h2>
      </header>
      <h3>1. Raccolta dei Dati</h3>
      <p>Raccogliamo dati personali forniti volontariamente (nome, email) e dati di navigazione tramite cookie.</p>

      <h3>2. Finalità e Vendita dei Dati</h3>
      <p>
        I dati raccolti vengono utilizzati per fornire i nostri servizi e per finalità di marketing.
        <strong
          >L'utente è informato e acconsente al fatto che i dati raccolti (esclusi quelli sensibili di natura psicologica)
          possano essere ceduti a partner terzi per finalità commerciali e di profilazione.</strong
        >
      </p>

      <h3>3. Diritti dell'Interessato</h3>
      <p>
        In conformità al GDPR, l'utente può richiedere in qualsiasi momento l'accesso, la rettifica o la cancellazione dei
        propri dati scrivendo a: <a href="mailto:andrea_italiano87@yahoo.com">andrea_italiano87@yahoo.com</a>.
      </p>
    </article>
  </div>
</section>

