<section id="main">
  <div class="container">
    <article class="box post">
      <header>
        <h2>Cookie Policy</h2>
      </header>
      <p>Questo sito utilizza cookie per migliorare l'esperienza dell'utente e per raccogliere dati a fini commerciali.</p>

      <h3>Tipi di Cookie utilizzati:</h3>
      <ul>
        <li><strong>Cookie Tecnici:</strong> Necessari per il funzionamento del sito.</li>
        <li>
          <strong>Cookie di Profilazione:</strong> Utilizzati per tracciare la navigazione e raccogliere dati
          comportamentali che potrebbero essere condivisi con terze parti.
        </li>
      </ul>

      <h3>Gestione del Consenso</h3>
      <p>
        L'utente può scegliere di disabilitare i cookie tramite le impostazioni del browser, tuttavia alcune funzionalità del
        sito potrebbero non essere disponibili.
      </p>
    </article>
  </div>
</section>

